
.logout{
    display: flex;
    align-items : center;
    justify-content: center;
}
/* 
.dashboard {

    height: 100vh;
    width: 100%;
    color: #f1eaea !important;
    position: relative;
}

.dashboard::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(8, 22, 53, 0.719);
}

 .dashboard .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;

}  */
